@font-face {
    font-family: apple;
    src: url(fonts/AppleGaramond.ttf);
}

@font-face {
    font-family: apple-bold;
    src: url(fonts/AppleGaramond-bold.ttf);
}

body {
	font-family: 'apple';
}

.title {
	width: 600px;
	padding-left: 50px;
}

.title span {
	float: left;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
	margin-right: 25px;
	font-family: 'apple-bold';
}

.chart-group {
	float: left;
}

h1 {
	text-align: center;
	font-family: 'apple-bold';
}

body {
	margin: 0 auto;
	width: 1400px;
}

.legend-box {
	color: #fff;
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;
}